@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body{
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.header , .section-one, .footer{
    background-color: #1f2937;
    display: flex;
}

.header, .content, .footer{
    flex: 1;
}
.header{
    justify-content: space-between;
    padding: 15px 100px;
    align-items: center;
}
.header .left-links{
    font-size: 24px;
    color: #f9faf8;
    font-weight: 900;
}

.header ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.content{
    flex: 1;
}
.header a{
    text-decoration: none;
    color:#f9faf8
}

.content .section-one .left-section , .content .section-one .right-section{
    flex: 1;
}

.content .section-one .left-section h1{
    margin: 0;
    font-size: 48px;
    font-weight: bolder;

}

.content .section-one{
    padding: 80px 100px;
    display: flex;
    gap: 60px;
    color:#f9faf8;
    flex-wrap: wrap;
}

.content .section-one p{
    font-size: 18px;
    color: #E5E7EB;
    flex-wrap: wrap;

}

.section-one .left-section button{
    background-color: #3882F6;
    border: none;
    padding: 10px 40px;
    border-radius: 8px;
    color: #f9faf8;
    font-weight: 900;
}

.content .section-one .right-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.content .section-one .right-section div{
    background-color: grey;
    color: #E5E7EB;
    font-style: italic;
    font-weight: light;
    color: #1F2937;
    height: 250px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.content .section-one .right-section div p{
    text-wrap: wrap;
}

.section-two{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-two h2{
    font-size: 36px;
    font-weight: bolder;
}

.section-two .list-of-empty-cards{
    display: flex;
    justify-content: space-between;
    flex: 1;
    padding: 15px 100px;
    gap: 50px;
    flex-wrap: wrap;
}

.card-box{
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 170px;
}

.empty-card{
    flex: auto;
    width: 170px;
    height: 170px;
    background-color:transparent;
    border-radius: 22px;
    border:  5px #3882F6;
    border-style: solid;
}


.card-box p{
    text-align: center;
    text-wrap: wrap;
    color: #1F2937;
}

.section-three{

    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    height: 300px;
    justify-content: center;
    align-content: center;
    font-size: 36px;
    font-style: italic;
    font-weight: 1;
    color: #1F2937;
    padding: 100px;
}

.section-three p{
    font-weight:100;
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 0;
}

#Thor{
    margin-top:20px;
    justify-content: flex-end;
}
